.booking {
  padding: 50px 0;
  background-color: $color-background-form;
  background-image: url("../img/background/form.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/form@2x.jpg");
  }

  @media (max-width: $tablet) {
    padding: 90px 0 101px;
  }

  @media (max-width: $tel) {
    padding: 60px 0 65px;
  }
}

.booking__container {
  display: flex;

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.booking__content {
  width: 493px;
  margin-top: 165px;
  margin-right: 146px;
  margin-left: 58px;

  @media (max-width: $tablet) {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
  }

  @media (max-width: $tel) {
    margin-bottom: 36px;
  }
}

.booking__content h2 {
  margin: 0;
  margin-bottom: 8px;

  @include fontMontserrat(700, 40px, 60px, $color-dark-primary);

  @media (max-width: $tablet) {
    margin-bottom: 4px;
    text-align: center;

    @include fontMontserrat(700, 34px, 51px, $color-dark-primary);
  }

  @media (max-width: $tel) {
    margin-bottom: 10px;

    @include fontMontserrat(700, 24px, 31px, $color-dark-primary);
  }
}

.booking__content p {
  margin: 0;
  width: 352px;

  @include fontMontserrat(400, 18px, 27px, $color-dark-primary);

  @media (max-width: $tablet) {
    margin: 0 auto;
    text-align: center;

    @include fontMontserrat(400, 18px, 27px, $color-dark-primary);
  }

  @media (max-width: $tel) {
    width: 100%;
    padding: 0 10px;

    @include fontMontserrat(400, 16px, 22px, $color-dark-primary);
  }
}
