.contacts {
  display: flex;
  padding: 120px 0;

  @media (max-width: $tablet) {
    padding: 100px 0;
  }

  @media (max-width: $tel) {
    flex-direction: column-reverse;
    padding: 60px 0 43px;
  }
}

.contacts__map {
  margin-right: 100px;

  @media (max-width: $tablet) {
    margin-right: 30px;
  }

  @media (max-width: $tel) {
    margin-right: 0;
  }
}

.contacts__content {
  margin-top: 75px;
  max-width: 500px;

  @media (max-width: $tablet) {
    margin-top: 65px;
    max-width: 324px;
  }

  @media (max-width: $tel) {
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 0;
  }
}

.contacts__content p {
  margin: 0;
  margin-bottom: 32px;

  @include fontMontserrat(500, 18px, 27px, $color-dark-primary);

  @media (max-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (max-width: $tel) {
    margin-bottom: 25px;
  }
}

.contacts__address {
  position: relative;
  padding-left: 28px;
  margin-bottom: 22px;

  @include fontMontserrat(400, 16px, 24px, $color-dark-primary);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/pin.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (max-width: $tablet) {
    margin-bottom: 19px;
  }

  @media (max-width: $tel) {
    margin-bottom: 20px;
  }
}

.contacts__phone {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 28px;
  margin: 0;

  @include fontMontserrat(400, 16px, 24px, $color-dark-primary);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/svg/tel.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:focus-visible {
    outline: 1px solid $color-background;
    outline-offset: 2px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts-map__image {
  width: 100%;
  max-height: 305px;
}
