.intro__wrapper {
  margin-left: 95px;

  @media (max-width: $tablet) {
    margin-left: 0;
  }
}

.intro__wrapper h1 {
  margin: 0;
  margin-bottom: 10px;

  @include fontMontserrat(700, 54px, 66px, $color-light-primary);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: $tablet) {
    @include fontMontserrat(700, 50px, 61px, $color-light-primary);
    text-shadow: none;
  }

  @media (max-width: $tel) {
    @include fontMontserrat(700, 36px, 45px, $color-light-primary);
  }
}

.intro__wrapper p {
  margin: 0;

  @include fontMontserrat(400, 20px, 24px, $color-light-primary);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: $tablet) {
    @include fontMontserrat(400, 18px, 22px, $color-light-primary);
    text-shadow: none;
  }

  @media (max-width: $tel) {
    width: 230px;

    @include fontMontserrat(400, 16px, 22px, $color-light-primary);
  }
}
