.navigation {
  @media (max-width: $tel) {
    &--js {
      display: none;
    }
  }
}

.navigation__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 33px;

  @media (max-width: $tablet) {
    gap: 23px;
  }

  @media (max-width: $tel) {
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: $color-light-primary;
  }
}

.navigation__link {
  display: block;

  @include fontMontserrat(500, 16px, 20px, $color-light-primary);

  &:focus-visible {
    outline: 1px solid $color-dark-primary;
    outline-offset: 2px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet) {
    @include fontMontserrat(500, 14px, 17px, $color-light-primary);
  }

  @media (max-width: $tel) {
    padding: 10px;

    @include fontMontserrat(500, 18px, 21px, $color-dark-primary);
  }
}
