.socials__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 27px;

  @media (max-width: $tablet) {
    column-gap: 20px;
  }

  @media (max-width: $tel) {
    column-gap: 17px;
  }
}

.socials__link {
  display: block;
  padding: 10px 0;

  &:focus-visible {
    outline: 1px solid $color-background;
    outline-offset: 2px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet) {
    padding: 0;
  }
}


.socials__link > svg {
  @media (max-width: $tablet) {
    width: 17px;
    height: 16px;
  }
}
