.travell {
  display: grid;
  grid-template-columns: 512px 1fr;
  gap: 88px;
  padding: 120px 0 145px;

  @media (max-width: $tablet) {
    grid-template-columns: 324px 1fr;
    gap: 25px;
    padding: 100px 0 92px;
  }

  @media (max-width: $tel) {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 58px 0 85px;
  }
}

.travell__content {
  margin-top: 56px;

  @media (max-width: $tablet) {
    margin-top: 0;
  }
}

.travell__content h2 {
  margin: 0;
  margin-bottom: 25px;

  @include fontMontserrat(600, 28px, 42px, $color-dark-primary);

  @media (max-width: $tablet) {
    margin-top: -8px;
    margin-bottom: 18px;
    margin-right: 22px;

    @include fontMontserrat(600, 26px, 35px, $color-dark-primary);
  }

  @media (max-width: $tel) {
    margin-top: 0;
    margin-bottom: 18px;

    @include fontMontserrat(600, 24px, 33px, $color-dark-primary);
  }
}

.travell__content p {
  margin: 0;

  @include fontMontserrat(400, 16px, 24px, $color-dark-primary);
}

.travell__img {
  display: block;

  @media (max-width: $tablet) {
    width: 324px;
  }

  @media (max-width: $tel) {
    width: 290px;
    margin: 0 auto;
  }
}
